* {
  box-sizing: border-box;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

.app {
  background-color: #DFD0B8;
  background-color: rgb(77, 77, 77);
  color: white;
  cursor: grab;
  position: relative;
}

/* Navbar */
#nav {

  background: rgb(77, 77, 77);
  /* width: 100vw; */
  height: 7vh;
  z-index: 10;
}

.nav-relative {
  position: relative;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links {
  background-color: #888888;
  transition: all 0.6s linear;
  border-radius: 10px;
  width: 70%;
  justify-self: end;
}

.nav-links .link {
  transition: 0.3s all ease-in-out;
  letter-spacing: 1.2px;
  padding: 5px;
}

.big-screen-link,
.big-screen-link .links {
  display: none;
}

#home {
  min-height: 90vh;
}

button {
  z-index: 2;
}

/* Home div */
.other-info .info {
  letter-spacing: 1.6px;
}

/* #home h1{
  color: 6ede8a;

} */

#education h1,
#technology h1,
#projects h1 {
  color: #6ede8a;
}


.other-info .download-btn {
  background-color: rgb(208, 208, 208);
  color: black;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in;
}

.home-pic img {
  z-index: -1;
}

.other-info .download-btn:hover {
  background-color: #888888;
  color: white;
}

.gradiant-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0;
}


@keyframes typing-text {
  from {
    width: 0%;
  }

  to {
    width: 200px;
  }
}

@keyframes typing-text {
  to {
    border-color: transparent;
  }
}


.project-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 250px);
  column-gap: 3rem;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.project-container .project {
  background-color: #616060;
  /* color:black; */
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.5s all linear;
}

.project-container .project:hover {
  background-color: rgb(208, 208, 208);
}

.project-container .project img {
  height: 150px;
}


.project-info .project-btn {
  background-color: #888888;
  /* padding: 8px; */
  transition: 0.2s all linear;
  padding: 5px 10px;
}

.project-info .project-btn:hover {
  background-color: rgb(225, 225, 225);
  color: #787878;
}

.scroll-down {
  position: relative;
  font-size: large;
  animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
  0% {
    top: 0;
  }

  100% {
    top: 12px;
  }
}

#technology .technology-list {
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  /* column-gap: 2rem; */
  row-gap: 2rem;
}

#technology .technology-list .technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Education Section */

#education .schools ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#education .schools .events {
  display: flex;
  flex-direction: column;
}


/* Footer */
footer {
  background-color: rgb(30, 30, 30);
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  height: 8vh;
}

footer .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 10px;
  cursor: pointer;
}

.footer-icon {
  height: 29px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  transition: 0.3s ease-in all;
}

.footer-icon:hover {
  box-shadow: 5px 10px #888888;
}

/* Media queries */
@media (min-width:768px) {
  #nav {
    height: 10vh;
    padding-top: 20px;
    width: 90vw;
    margin: 0 auto;

  }
  .bar-icon {
    display: none;
  }
  .big-screen-link,
  .big-screen-link .links {
    display: flex;
    gap: 25px;
    transition: 0.2s all line;
  }

  .big-screen-link .link:hover {
    text-decoration: underline;
  }

  #home {
    padding-left: 50px;
    padding-right: 50px;
  }

  #home {
    min-height: 90vh;
  }

  #home {
    padding-top: 70px;
    width: 80vw;
    margin: 0 auto;
  }
  #home .pp-container {
    top:17rem;
    right: 10rem;
  }

  #projects .project-container {
    margin: 0 auto;
    grid-template-columns: repeat(2, 300px);
    padding: 30px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  footer {
    font-size: 15px;
  }

  footer a{
    z-index:20;
  }
}

@media (min-width:1100px) {

.gradiant-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0;
}

@keyframes typing-text {
  from {
      width: 0%;
  } 
  to {
      width: 350px;
  }
}

@keyframes typing-text {
  to {
      border-color: transparent;
  }
}




  .project-container .project img {
    height: 192px;
  }

#nav{
  width:70vw;
}
  /* #nav {
    padding-top: 20px;
    width: 70vw;
    margin: 0 auto;

  } */

  .big-screen-link,
  .big-screen-link .links {
    display: flex;
    gap: 25px;
    transition: 0.2s all line;
  }

  .big-screen-link .link:hover {
    text-decoration: underline;
  }

  #home {
    padding-top: 70px;
    width: 70vw;
    margin: 0 auto;
  }

  #home .pp-container {
    top: 250px;
  }

  #home img {
    height: 16rem;
    /* margin-bottom: 5rem; */
  }

  #home h1,
  #education h1,
  #technology h1,
  #projects h1 {
    letter-spacing: 2px;
    font-size: 2rem;
  }

  #home .home-pic {
    right: 25vw;
    top: 80;
  }


  #projects .project-container .project img {
    width: 100%;
  }

  .other-info .info {
    letter-spacing: 1.6px;
    font-size: 18px;
    line-height: 30px;
  }

  #education {
    width: 70vw;
    padding: 30px;
    margin: 0 auto;
  }

  #technology {
    padding-left: 10%;
    padding-right: 10%;
  }

  #technology .technology img {
    height: 3rem;
  }

  #education .events {
    padding: 10px;
  }

  #education .events p {
    letter-spacing: 2px;
  }

  #technology h1,
  #education h1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #projects .project-container {
    margin: 0 auto;
    grid-template-columns: repeat(3, 300px);
    padding: 30px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
  }


  footer {
    padding: 40px 200px;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

/* 

Styling the cursor

*/
#moving-cursor {
  height: 50px;
  width: 50px;
  position: fixed;
  background-color: #e7c82f;
  border-radius: 50%;
  transition: 0.3s all ease-out;
  display: none;
}

#moving-cursor:hover {
  transform: scale(0.5);
}